# SPDX-License-Identifier: (GPL-2.0-only or LGPL-2.1-only)
# SPDX-FileCopyrightText: 2016-2024 EfficiOS Inc.

config LTTNG_CLOCK_PLUGIN_TEST
       tristate "Use test plugin as trace clock"
       default m
       depends on LTTNG
       help
	 Use the test clock as trace clock. This plugin freezes the
	 time with 1 KHz for regression test.
	 It's recommended to build this as a module to work with the
	 lttng-tools test suite.
